# Fichiers Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Fichiers de données volumineuses
streamlit/data/*.csv
*.csv

# Modèles ML (trop volumineux pour Git)
streamlit/models/*.pkl
*.pkl

# Environnement virtuel
venv/
env/
.venv/

# IDE
.vscode/
.idea/
*.swp
